@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

$bg-sat: #072036;
$bg-dark: #000;

$blue: #07416a;
$blue-light: #287fbc;

$title-font: 'Caveat', cursive;
$base-font: 'Roboto', sans-serif;
